Repository pagopa/io-sign, changes with the labels that .github/labeler.yml gives for each.
All labels: io-func-sign-issuer, io-func-sign-user, io-func-sign-support, io-sign-selfcare-frontend, internal, docs, ci, changeset

.github/labeler.yml:

io-func-sign-issuer: apps/io-func-sign-issuer/**/*
io-func-sign-user: apps/io-func-sign-user/**/*
io-func-sign-support: apps/io-func-sign-support/**/*
io-sign-selfcare-frontend: apps/io-sign-selfcare-frontend/**/*
internal: packages/**/*
docs: docs/**/*
ci: .github/workflows/**/*
changeset: .changeset/**/*

fix tests
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-dossier.spec.ts
  yarn.lock
Labels: io-func-sign-issuer

test(issuer): add unit test to dossier endpoints
  apps/io-func-sign-issuer/.eslintrc.js
  apps/io-func-sign-issuer/host.json
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/create-dossier.ts
  apps/io-func-sign-issuer/src/dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-upload-url.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/info.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-rejected.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-signed.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-wait-for-signature.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/send-notification.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/set-signature-request-status.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/document.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/dossier.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/issuer.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/create-dossier.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/get-dossier.ts
  apps/io-func-sign-issuer/src/issuer.ts
  yarn.lock
Labels: io-func-sign-issuer

fix: Change QTSP default environment
  apps/io-func-sign-user/src/infra/namirial/config.ts
Labels: io-func-sign-user

chore: Update changeset
  .changeset/seven-stingrays-share.md
Labels: changeset

chore: Change signature type to PADES-LT
  .changeset/spotty-buttons-promise.md
  apps/io-func-sign-user/src/infra/namirial/encoders/signature-request.ts
  apps/io-func-sign-user/src/infra/namirial/signature-request.ts
Labels: io-func-sign-user, changeset

chore: Remove unused headers from QTSP request
  apps/io-func-sign-user/src/infra/namirial/client.ts
Labels: io-func-sign-user

feat(issuer): Add getRequestsByDossier endpoint
  apps/io-func-sign-issuer/GetRequestsByDossier/function.json
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-requests-by-dossier.ts
  apps/io-func-sign-issuer/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/get-requests-by-dossier.ts
  apps/io-func-sign-issuer/src/signature-request.ts
Labels: io-func-sign-issuer

docs(issuer): support vscode rest-client
  .vscode/extensions.json
  .vscode/settings.json
  apps/io-func-sign-issuer/io-func-sign-issuer.rest
Labels: io-func-sign-issuer

add changeset
  .changeset/grumpy-apes-compete.md
Labels: changeset

feat(issuer): Add endpoint to get Signature Requests by Dossier
  .changeset/grumpy-apes-compete.md
  .vscode/extensions.json
  .vscode/settings.json
  apps/io-func-sign-issuer/GetRequestsByDossier/function.json
  apps/io-func-sign-issuer/io-func-sign-issuer.rest
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-requests-by-dossier.ts
  apps/io-func-sign-issuer/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/get-requests-by-dossier.ts
  apps/io-func-sign-issuer/src/signature-request.ts
Labels: io-func-sign-issuer, changeset

rewrite validate upload use case
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/__test__/validate-upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/validate-upload.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-issuer/src/upload.ts
Labels: io-func-sign-issuer

Restore opex
  .opex/api_issuer/env/prod/config.yaml
Labels: none

Add changeset
  .changeset/neat-insects-whisper.md
Labels: changeset

implement signature request repo
  apps/io-func-sign-issuer/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-issuer/src/signature-request.ts
Labels: io-func-sign-issuer

wire dependencies
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/storage/upload.ts
  apps/io-func-sign-issuer/src/upload.ts
Labels: io-func-sign-issuer

Remove analytics events from validateUpload
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
Labels: io-func-sign-issuer

small typo
  .github/workflows/release.yaml
Labels: ci

implement infra and minor fix
  apps/io-func-sign-issuer/io-func-sign-issuer.rest
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/storage/upload.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/validate-upload.ts
  apps/io-func-sign-issuer/src/upload.ts
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/package.json
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, io-func-sign-support

fix lint
  apps/io-func-sign-issuer/src/app/use-cases/__test__/validate-upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/validate-upload.ts
Labels: io-func-sign-issuer

fix copy
  apps/io-func-sign-issuer/src/upload.ts
Labels: io-func-sign-issuer

ci(release): fix typo in step name
  .github/workflows/release.yaml
Labels: ci

fix copy
  apps/io-func-sign-issuer/src/signature-request.ts
Labels: io-func-sign-issuer

test: replace jest with vitest
  apps/io-func-sign-issuer/jest.config.js
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/__test__/validate-upload.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-support/jest.config.js
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/jest.config.js
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/__test__/signature-request.spec.ts
  apps/io-func-sign-user/src/__test__/third-party-message.spec.ts
  apps/io-func-sign-user/src/infra/http/decoder/__test__/signer.spec.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-user/src/infra/lollipop/__test__/signature.spec.ts
  docs/architecture/decisions/0002-format-for-signerid.md
  docs/architecture/decisions/0006-use-vitest-as-unit-test-framework.md
  docs/architecture/decisions/README.md
  docs/openapi-backend.yaml
  package.json
  packages/io-sign/jest.config.js
  packages/io-sign/package.json
  packages/io-sign/src/__test__/document.spec.ts
  packages/io-sign/src/__test__/event.spec.ts
  packages/io-sign/src/__test__/utility.spec.ts
  packages/io-sign/src/infra/azure/__test__/event-hubs.spec.ts
  packages/io-sign/src/infra/http/__test__/errors.spec.ts
  packages/io-sign/src/infra/http/__test__/problem-detail.spec.ts
  packages/io-sign/src/infra/http/__test__/response.spec.ts
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, io-func-sign-support, internal, docs

add jest link
  docs/architecture/decisions/0006-use-vitest-as-unit-test-framework.md
Labels: docs

test: move to vitest
  apps/io-func-sign-issuer/jest.config.js
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/__test__/validate-upload.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-support/jest.config.js
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/jest.config.js
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/__test__/signature-request.spec.ts
  apps/io-func-sign-user/src/__test__/third-party-message.spec.ts
  apps/io-func-sign-user/src/infra/http/decoder/__test__/signer.spec.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-user/src/infra/lollipop/__test__/signature.spec.ts
  docs/architecture/decisions/0002-format-for-signerid.md
  docs/architecture/decisions/0006-use-vitest-as-unit-test-framework.md
  docs/architecture/decisions/README.md
  docs/openapi-backend.yaml
  package.json
  packages/io-sign/jest.config.js
  packages/io-sign/package.json
  packages/io-sign/src/__test__/document.spec.ts
  packages/io-sign/src/__test__/event.spec.ts
  packages/io-sign/src/__test__/utility.spec.ts
  packages/io-sign/src/infra/azure/__test__/event-hubs.spec.ts
  packages/io-sign/src/infra/http/__test__/errors.spec.ts
  packages/io-sign/src/infra/http/__test__/problem-detail.spec.ts
  packages/io-sign/src/infra/http/__test__/response.spec.ts
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, io-func-sign-support, internal, docs

refactor(issuer): refactor Validate Upload
  apps/io-func-sign-issuer/io-func-sign-issuer.rest
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/__test__/validate-upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/storage/upload.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/validate-upload.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-issuer/src/upload.ts
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/package.json
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, io-func-sign-support

Refactor sendNotification and validateSignature
  apps/io-func-sign-issuer/src/app/use-cases/send-notification.ts
  apps/io-func-sign-user/src/app/use-cases/validate-signature.ts
Labels: io-func-sign-issuer, io-func-sign-user

feat: Add analytics event
  .changeset/neat-insects-whisper.md
  .changeset/wet-buckets-wash.md
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-ready.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-rejected.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-signed.ts
  apps/io-func-sign-issuer/src/app/use-cases/send-notification.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-rejected.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-signed.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/send-notification.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/set-signature-request-status.ts
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/app/config.ts
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/app/use-cases/validate-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/validate-signature.ts
  packages/io-sign/src/event.ts
  packages/io-sign/src/infra/azure/event-hubs/event.ts
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, changeset
