Repository pagopa/io-sign, pull requests merged in 2022-11, with the labels that each got.

#8 Enhance error handling [SFEQS-1126]
  apps/io-func-sign-issuer/.prettierignore
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/dossier.ts
  apps/io-func-sign-issuer/src/infra/__mocks__/signer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-upload-url.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/set-signature-request-status.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/storage/upload.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/document.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/issuer.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/signature-request.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-user/package.json
  package-lock.json
  packages/io-sign/.prettierignore
  packages/io-sign/package.json
  packages/io-sign/src/document.ts
  packages/io-sign/src/error.ts
  packages/io-sign/src/infra/http/__test__/errors.spec.ts
  packages/io-sign/src/infra/http/__test__/problem-detail.spec.ts
  packages/io-sign/src/infra/http/__test__/response.spec.ts
  packages/io-sign/src/infra/http/errors.ts
  packages/io-sign/src/infra/http/problem-detail.ts
  packages/io-sign/src/infra/http/response.ts
  packages/io-sign/src/validation.ts
Labels: enhancement, help wanted

#5 refactor: Add REJECTED status to Signature Request [SFEQS-1147]
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/infra/http/decoders/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-issuer/src/upload.ts
  packages/io-sign/src/document.ts
Labels: documentation, enhancement

#3 core: Add PDF content validator [SFEQS-1110,SFEQS-1137]
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-ready.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/set-signature-request-status.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/storage/upload.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/document.ts
  apps/io-func-sign-issuer/src/upload.ts
  apps/io-func-sign-user/package.json
  package-lock.json
  packages/io-services/package.json
  packages/io-sign/package.json
  packages/io-sign/src/infra/pdf.ts
  packages/pdv-tokenizer/package.json
Labels: enhancement

#11 Add PR template, CODEOWNER, local.settings.json.example [SFEQS-1134]
  .github/pull_request_template.md
  CODEOWNERS
  apps/io-func-sign-issuer/local.settings.json.example
  docker-compose.yml
Labels: show

#6 core: Notification endpoint [sfeqs-1114]
  apps/io-func-sign-issuer/SendNotification/function.json
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/app/config.ts
  apps/io-func-sign-issuer/src/app/use-cases/send-notification.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/send-notification.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/encoders/notification.ts
  apps/io-func-sign-issuer/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  packages/io-services/src/client.ts
  packages/io-services/src/config.ts
  packages/io-services/src/message.ts
  packages/io-services/src/profile.ts
  packages/io-sign/src/error.ts
  packages/io-sign/src/infra/http/errors.ts
  packages/io-sign/src/notification.ts
  packages/io-sign/src/signer.ts
  packages/pdv-tokenizer/src/client.ts
  packages/pdv-tokenizer/src/signer.ts
Labels: enhancement, good first issue

#19 fix: [SFEQS-1161] fix lint tasks in package.json
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-user/package.json
  packages/pdv-tokenizer/.eslintrc.json
  packages/pdv-tokenizer/package.json
Labels: io-func-sign-issuer, io-func-sign-user, internal

#13 Fix: prevent generation of Upload URL (Sas Token) when the SR is not DRAFT [SFEQS-1124]
  apps/io-func-sign-issuer/src/app/use-cases/get-upload-url.ts
Labels: bug, io-func-sign-issuer

#20 docs: added the ADR support
  .adr.json
  docs/architecture/decisions/0001-record-architecture-decisions.md
  docs/architecture/decisions/0002-format-for-signerid.md
  docs/architecture/decisions/0003-choose-ulid-as-identifier-format.md
  docs/architecture/decisions/README.md
  docs/architecture/decisions/template.md
Labels: docs

#25 ci: add "code review" workflow [SFEQS-948]
  .github/workflows/code-review.yaml
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/infra/azure/functions/__test__/info.spec.ts
  package.json
Labels: enhancement, io-func-sign-user

#27 ci: new PR label and improve naming
  .github/labeler.yml
  .github/workflows/code-review.yaml
  .github/workflows/conventional-labels.yaml
  .github/workflows/label.yaml
Labels: ci

#28 refactor: Add main entry point [SFEQS-1175]
  apps/io-func-sign-issuer/CreateDossier/function.json
  apps/io-func-sign-issuer/CreateSignatureRequest/function.json
  apps/io-func-sign-issuer/GetDossier/function.json
  apps/io-func-sign-issuer/GetSignatureRequest/function.json
  apps/io-func-sign-issuer/GetSignerByFiscalCode/function.json
  apps/io-func-sign-issuer/GetUploadUrl/function.json
  apps/io-func-sign-issuer/Info/function.json
  apps/io-func-sign-issuer/SendNotification/function.json
  apps/io-func-sign-issuer/SetSignatureRequestStatus/function.json
  apps/io-func-sign-issuer/ValidateUpload/function.json
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-upload-url.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/info.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/send-notification.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/set-signature-request-status.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/tsup.config.js
  apps/io-func-sign-user/CreateFilledDocument/function.json
  apps/io-func-sign-user/FillDocument/function.json
  apps/io-func-sign-user/Info/function.json
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/app/use-cases/fill-document.ts
  apps/io-func-sign-user/src/infra/azure/functions/__test__/info.spec.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-filled-document.ts
  apps/io-func-sign-user/src/infra/azure/functions/fill-document.ts
  apps/io-func-sign-user/src/infra/azure/functions/info.ts
  apps/io-func-sign-user/tsup.config.js
  docs/architecture/decisions/0004-ship-services-via-singular-script.md
  package-lock.json
  packages/pdf-handler/package.json
  packages/pdf-handler/src/index.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, refactor

#17 feat(user): [SFEQS-1129] Get signer by fiscal code endpoint
  apps/io-func-sign-user/GetSignerByFiscalCode/function.json
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-signer-by-fiscal-code.ts
  apps/io-func-sign-user/src/infra/http/encoders/signer.ts
Labels: io-func-sign-user, feature, feat

#30 chore(user): [SFEQS-1183] Change openapi
  apps/io-func-sign-user/openapi.yaml
Labels: io-func-sign-user, chore

#31 bug(issuer): [SFEQS-1188] SAS token options
  apps/io-func-sign-issuer/src/infra/azure/storage/upload.ts
Labels: bug, io-func-sign-issuer

#32 chore(user): [SFEQS-1183] Change openapi
  apps/io-func-sign-user/openapi.yaml
Labels: io-func-sign-user, chore
