Repository pagopa/io-sign, pull requests merged in 2022-12, with the labels that each got.

#33 chore: [SFEQS-1172] Refactor pull request labeler action
  .github/release.yaml
  .github/workflows/label.yaml
Labels: ci, chore

#36 refactor: [SFEQS-1128] refactor Namirial client to avoid stateful class
  apps/io-func-sign-user/local.settings.json.example
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/app/use-cases/get-qts-clauses-metadata.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-qtsp-clauses-metadata.ts
  apps/io-func-sign-user/src/infra/http/encoders/namirial-clauses-metadata.ts
  apps/io-func-sign-user/src/infra/namirial/client.ts
Labels: io-func-sign-user, refactor

#35 feat(user): [SFEQS-1128] Add QTSP client and implement getQtspClauses
  apps/io-func-sign-user/.eslintrc.json
  apps/io-func-sign-user/GetQtspClausesMetadata/function.json
  apps/io-func-sign-user/local.settings.json.example
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/src/app/config.ts
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-filled-document.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-qtsp-clauses-metadata.ts
  apps/io-func-sign-user/src/infra/http/encoders/filled-document.ts
  apps/io-func-sign-user/src/infra/http/encoders/namirial-clauses-metadata.ts
  apps/io-func-sign-user/src/infra/http/encoders/qtsp-clauses-metadata.ts
  apps/io-func-sign-user/src/infra/namirial/clauses-metadata.ts
  apps/io-func-sign-user/src/infra/namirial/client.ts
  apps/io-func-sign-user/src/infra/namirial/config.ts
  apps/io-func-sign-user/src/qtsp-clauses-metadata.ts
Labels: io-func-sign-user, feat

#37 chore(user): [SFEQS-1138] Minor fix openapi
  apps/io-func-sign-user/openapi.yaml
Labels: io-func-sign-user, chore

#38 chore: [SFEQS-1143] Minor changes
  .github/workflows/publish-package.yaml
  README.md
  apps/io-func-sign-issuer/src/infra/azure/storage/document.ts
  apps/io-func-sign-user/package.json
Labels: io-func-sign-issuer, io-func-sign-user, ci, chore

#39 chore: [SFEQS-1203] Add changeset to manage release and versioning
  .changeset/README.md
  .changeset/config.json
  .github/workflows/release.yaml
  README.md
  package.json
  yarn.lock
Labels: ci, chore

#15 fix(issuer): [SFEQS-1146] remove outdated fields when DOCUMENT status changes
  .changeset/clever-beds-develop.md
  apps/io-func-sign-issuer/src/infra/azure/functions/get-upload-url.ts
  apps/io-func-sign-issuer/src/upload.ts
  packages/io-sign/src/__test__/document.spec.ts
  packages/io-sign/src/document.ts
Labels: bug, io-func-sign-issuer, internal, fix

#41 fix: [SFEQS-1141] GetSignatureRequest now serializes the correct Document attributes
  .changeset/honest-radios-cover.md
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/infra/http/encoders/document.ts
Labels: io-func-sign-issuer, fix

#46 chore:(user): Add location to 201 response header [SFEQS-1217]
  .changeset/two-crews-change.md
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/src/infra/azure/functions/create-filled-document.ts
Labels: io-func-sign-user, chore

#47 Chore(user): Refactor openapi [SFEQS-1218]
  .changeset/selfish-colts-fail.md
  apps/io-func-sign-user/openapi.yaml
Labels: io-func-sign-user

#49 fix: remove ref from user OpenAPI for io-backend
  apps/io-func-sign-user/openapi.yaml
Labels: io-func-sign-user, fix

#42 feat(issuer): [SFEQS-1157] Add issuers registry
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/infra/__mocks__/issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-upload-url.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/send-notification.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/set-signature-request-status.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/issuer.ts
  apps/io-func-sign-issuer/src/issuer.ts
  packages/io-sign/src/infra/http/errors.ts
  packages/io-sign/src/issuer.ts
Labels: io-func-sign-issuer, internal, feat

#51 fix: [SFEQS-1227] Fix anonymous access to info endpoints
  apps/io-func-sign-issuer/Info/function.json
  apps/io-func-sign-user/Info/function.json
Labels: io-func-sign-issuer, io-func-sign-user, fix

#52 chore(issuer): [SFEQS-1224] Align notification message
  .changeset/red-tables-complain.md
  apps/io-func-sign-issuer/src/app/use-cases/send-notification.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/send-notification.ts
Labels: io-func-sign-issuer, chore

#54 chore(user): Mock crypto signatures [SFEQS-1210]
  .changeset/lovely-laws-travel.md
  .changeset/many-fishes-destroy.md
  apps/io-func-sign-user/ValidateQtspSignature/function.json
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/app/use-cases/__mocks__/notification.ts
  apps/io-func-sign-user/src/app/use-cases/__mocks__/qtsp.ts
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
  apps/io-func-sign-user/src/app/use-cases/validate-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-filled-document.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-user/src/infra/namirial/client.ts
  apps/io-func-sign-user/src/infra/namirial/signature-request.ts
  apps/io-func-sign-user/src/qtsp.ts
  yarn.lock
Labels: io-func-sign-user, chore

#55 fix: [SFEQS-1238] Round coordinates for QTSP
  .changeset/three-forks-shout.md
  apps/io-func-sign-user/src/signature-field.ts
Labels: io-func-sign-user, fix

#56 fix(user): [SFEQS-1210] Fix Signature coordinates
  apps/io-func-sign-user/src/app/use-cases/__mocks__/qtsp.ts
  apps/io-func-sign-user/src/signature-field.ts
Labels: bug, io-func-sign-user

#57 chore(user): Mock fiscal code [SFEQS-1241]
  apps/io-func-sign-user/src/app/use-cases/__mocks__/qtsp.ts
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
Labels: io-func-sign-user, chore

#58 chore: [SFEQS-1250] Add WAIT_FOR_QTSP status to signature request
  .changeset/slimy-parents-know.md
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature.ts
  apps/io-func-sign-user/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-user/src/signature-request.ts
  packages/io-sign/src/document.ts
  packages/io-sign/src/signature-request.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, chore

#59 chore: [SFEQS-1269] Create a custom SAML mock
  .changeset/five-hornets-sort.md
  apps/io-func-sign-user/src/app/use-cases/__mocks__/qtsp.ts
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
  packages/io-sign/src/infra/pdf.ts
Labels: io-func-sign-user, internal, chore

#60 chore: [SFEQS-1276] Aligned notification messages with Figma
  .changeset/thirty-wolves-turn.md
  apps/io-func-sign-issuer/src/app/use-cases/send-notification.ts
  apps/io-func-sign-user/src/app/use-cases/__mocks__/notification.ts
Labels: io-func-sign-issuer, io-func-sign-user, chore
