Repository pagopa/io-sign, pull requests merged in 2023-06, with the labels that each got.

#162 feat(issuer): [SFEQS-1594] Add input documents metadata in CreateSignatureRequest
  .changeset/pretty-tomatoes-confess.md
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-signature-request.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/create-signature-request.ts
  apps/io-func-sign-issuer/src/signature-request.ts
Labels: io-func-sign-issuer, feat, changeset

#168 feat(opex): [SFEQS-1627] Allarmi OpEx dashboard su channel Slack dedicato
  .opex/api_issuer/env/prod/config.yaml
  .opex/api_support/env/prod/config.yaml
  .opex/api_user/env/prod/config.yaml
Labels: feat

#170 fix(user): opex tuning alarm signatures response time
  .opex/api_issuer/env/prod/config.yaml
  .opex/api_support/env/prod/config.yaml
  .opex/api_user/env/prod/config.yaml
Labels: fix

#176 chore: [SFEQS-1848] Add CANCELLED status to io-func-sign-support workspace
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-support/openapi.yaml
  apps/io-func-sign-support/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-support/src/signature-request.ts
Labels: io-func-sign-issuer, chore, io-func-sign-support

#175 docs: ADR on choosing the right task manager for our codebase
  docs/architecture/decisions/0006-use-vitest-as-unit-test-framework.md
  docs/architecture/decisions/0007-use-turborepo-as-task-manager.md
  docs/architecture/decisions/README.md
Labels: docs

#172 ci: [SFEQS-1603] add GitHub action to validate openapi spec (using the OPEX validator)
  .github/workflows/opex-review/action.yaml
  .github/workflows/opex_api_issuer_review.yaml
  .github/workflows/opex_api_support_review.yaml
  .github/workflows/opex_api_user_review.yaml
Labels: ci

#171 fix: [SFEQS-1772] Configure host logging properties to allow monitoring execution
  .changeset/blue-socks-mate.md
  apps/io-func-sign-issuer/host.json
  apps/io-func-sign-support/host.json
  apps/io-func-sign-user/host.json
Labels: io-func-sign-issuer, io-func-sign-user, fix, changeset, io-func-sign-support

#174 feat: [SFEQS-1566] Add PDF magic number check to document validation
  .changeset/mean-pens-march.md
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/document-validation.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/validate-document.ts
  apps/io-func-sign-issuer/src/upload.ts
Labels: io-func-sign-issuer, feat, changeset

#178 docs(adr): [SFEQS-1308] Document project structure
  docs/architecture/decisions/0008-project-structure.md
Labels: docs
