Repository pagopa/io-sign, pull requests merged in 2023-03, with the labels that each got.

#86 feat: [SFEQS-1345] Create selfcare thanks you page
  .changeset/long-paws-train.md
  .github/labeler.yml
  README.md
  apps/io-sign-selfcare-frontend/.eslintrc.js
  apps/io-sign-selfcare-frontend/.gitignore
  apps/io-sign-selfcare-frontend/next-i18next.config.js
  apps/io-sign-selfcare-frontend/next.config.js
  apps/io-sign-selfcare-frontend/package.json
  apps/io-sign-selfcare-frontend/public/favicon.svg
  apps/io-sign-selfcare-frontend/public/locales/it/common.json
  apps/io-sign-selfcare-frontend/src/components/CommonHeader/CommonHeader.tsx
  apps/io-sign-selfcare-frontend/src/components/Footer/Footer.tsx
  apps/io-sign-selfcare-frontend/src/components/Footer/FooterConfig.tsx
  apps/io-sign-selfcare-frontend/src/config.ts
  apps/io-sign-selfcare-frontend/src/pages/[locale]/index.tsx
  apps/io-sign-selfcare-frontend/src/pages/_app.tsx
  apps/io-sign-selfcare-frontend/src/pages/_document.tsx
  apps/io-sign-selfcare-frontend/src/pages/index.tsx
  apps/io-sign-selfcare-frontend/src/static.ts
  apps/io-sign-selfcare-frontend/tsconfig.json
  io-sign.code-workspace
  yarn.lock
Labels: feat, io-sign-selfcare-frontend

#90 fix(issuer): [SFEQS-1363] Make "signature_fields" field optional in REST APIs
  .changeset/lazy-garlics-wave.md
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/infra/http/decoders/document.ts
Labels: io-func-sign-issuer, fix

#89 feat(issuer): [SFEQS-1351] Require at least one mandatory signature
  .changeset/mean-queens-warn.md
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/document.ts
  apps/io-func-sign-user/src/__test__/third-party-message.spec.ts
  packages/io-sign/src/__test__/document.spec.ts
  packages/io-sign/src/document.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat

#92 feat(user): [SFEQS-1479] Lollipop integration mock 🍭
  .changeset/six-dolphins-march.md
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/app/use-cases/__mocks__/qtsp.ts
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
  apps/io-func-sign-user/src/infra/namirial/encoders/signature-request.ts
  apps/io-func-sign-user/src/infra/namirial/signature-request.ts
  apps/io-func-sign-user/src/qtsp.ts
  yarn.lock
Labels: io-func-sign-user, feat

#94 feat(user): [SFEQS-1478,SFEQS-1479] Lollipop integration to `createSignature` endpoint 🍭
  .changeset/empty-parents-hope.md
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-user/local.settings.json.example
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/app/config.ts
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/info.ts
  apps/io-func-sign-user/src/infra/http/decoder/lollipop.ts
  apps/io-func-sign-user/src/infra/lollipop/__test__/signature.spec.ts
  apps/io-func-sign-user/src/infra/lollipop/assertion.ts
  apps/io-func-sign-user/src/infra/lollipop/client.ts
  apps/io-func-sign-user/src/infra/lollipop/config.ts
  apps/io-func-sign-user/src/infra/lollipop/health-check.ts
  apps/io-func-sign-user/src/infra/lollipop/signature.ts
  apps/io-func-sign-user/src/signature.ts
  packages/io-sign/package.json
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat

#96 feat(issuer): [SFEQS-1505] Add CreateIssuerByVatNumberView function
  .changeset/gorgeous-tigers-refuse.md
  .changeset/great-moons-perform.md
  apps/io-func-sign-issuer/CreateIssuerByVatNumberView/function.json
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-issuers-by-vat-number-view.ts
  packages/io-sign/src/issuer.ts
Labels: io-func-sign-issuer, internal, feat

#97 chrore(issuer): Change the `leaseCollectionName` and add `leaseCollectionPrefix` to `CreateIssuerByVatNumber`
  .changeset/friendly-eggs-love.md
  apps/io-func-sign-issuer/CreateIssuerByVatNumberView/function.json
Labels: io-func-sign-issuer, feat

#87 feat!: [SFEQS-1463] Self-care integration
  .changeset/eleven-penguins-drum.md
  apps/io-func-sign-issuer/CreateIssuer/function.json
  apps/io-func-sign-issuer/local.settings.json.example
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/app/config.ts
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-signed.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/issuer-by-vat-number.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/event-hubs/health-check.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/info.ts
  apps/io-func-sign-issuer/src/infra/self-care/config.ts
  apps/io-func-sign-issuer/src/infra/self-care/contract.ts
  apps/io-func-sign-issuer/src/infra/self-care/encoder.ts
  apps/io-func-sign-issuer/src/issuer.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-user/src/__test__/signature-request.spec.ts
  apps/io-func-sign-user/src/__test__/third-party-message.spec.ts
  packages/io-sign/src/__test__/event.spec.ts
  packages/io-sign/src/event.ts
  packages/io-sign/src/infra/slack/config.ts
  packages/io-sign/src/issuer.ts
  packages/io-sign/src/signature-request.ts
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat, breaking-change

#99 feat: [SFEQS-1486] Add `self-care` api client
  .changeset/perfect-eels-bake.md
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-issuer.ts
  apps/io-func-sign-issuer/src/infra/self-care/client.ts
  apps/io-func-sign-issuer/src/infra/self-care/config.ts
  apps/io-func-sign-issuer/src/infra/self-care/contract.ts
  apps/io-func-sign-issuer/src/infra/self-care/encoder.ts
Labels: io-func-sign-issuer, feat

#100 feat: [SFEQS-1517] Add slack notification for new issuers
  .changeset/eleven-trees-destroy.md
  .changeset/nine-lemons-report.md
  apps/io-func-sign-issuer/local.settings.json.example
  apps/io-func-sign-issuer/src/app/config.ts
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-issuer.ts
  apps/io-func-sign-issuer/src/infra/self-care/client.ts
  apps/io-func-sign-issuer/src/infra/slack/client.ts
  apps/io-func-sign-issuer/src/infra/slack/config.ts
  apps/io-func-sign-issuer/src/infra/slack/issuer-message.ts
  apps/io-func-sign-user/src/infra/namirial/client.ts
  packages/io-sign/src/infra/client-utils.ts
  packages/io-sign/src/infra/slack/config.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat

#103 feat(user): [SFEQS-1475] Add dossier title to Signature Request
  .changeset/tame-oranges-share.md
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/dossier.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/src/__test__/signature-request.spec.ts
  apps/io-func-sign-user/src/__test__/third-party-message.spec.ts
  apps/io-func-sign-user/src/infra/http/encoders/signature-request.ts
  packages/io-sign/src/__test__/event.spec.ts
  packages/io-sign/src/signature-request.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat

#104 feat: [SFEQS1481] Add io-func-sign-support app
  .changeset/curly-penguins-cross.md
  .github/labeler.yml
  apps/io-func-sign-support/.eslintrc.js
  apps/io-func-sign-support/.prettierignore
  apps/io-func-sign-support/GetSignatureRequest/function.json
  apps/io-func-sign-support/host.json
  apps/io-func-sign-support/jest.config.js
  apps/io-func-sign-support/openapi.yaml
  apps/io-func-sign-support/package.json
  apps/io-func-sign-support/src/__test__/issuer.spec.ts
  apps/io-func-sign-support/src/__test__/signature-request.spec.ts
  apps/io-func-sign-support/src/__test__/signer.spec.ts
  apps/io-func-sign-support/src/app/config.ts
  apps/io-func-sign-support/src/infra/azure/cosmos/config.ts
  apps/io-func-sign-support/src/infra/azure/cosmos/issuer.ts
  apps/io-func-sign-support/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-support/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-support/src/infra/http/encoders/document.ts
  apps/io-func-sign-support/src/infra/http/encoders/notification.ts
  apps/io-func-sign-support/src/infra/http/encoders/signature-field.ts
  apps/io-func-sign-support/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-support/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-support/src/infra/http/handlers/get-signature-request.ts
  apps/io-func-sign-support/src/infra/pagopa/pdv-tokenizer/signer.ts
  apps/io-func-sign-support/src/infra/web.ts
  apps/io-func-sign-support/src/issuer.ts
  apps/io-func-sign-support/src/signature-request.ts
  apps/io-func-sign-support/src/signer.ts
  apps/io-func-sign-support/tsconfig.json
  apps/io-func-sign-support/tsup.config.js
  apps/io-sign-selfcare-frontend/package.json
  io-sign.code-workspace
  package.json
  packages/io-sign/package.json
  packages/io-sign/src/infra/http/response.ts
  packages/io-sign/src/infra/http/utils.ts
  packages/io-sign/src/signature-request.ts
  yarn.lock
Labels: internal, feat, io-sign-selfcare-frontend, io-func-sign-support

#108 docs(support): Add security scheme in OpenAPI spec
  apps/io-func-sign-support/openapi.yaml
Labels: docs, io-func-sign-support

#109 feat (user): [SFEQS-1315] Adds support to the QTSP test environment
  .changeset/lovely-dryers-remain.md
  apps/io-func-sign-user/local.settings.json.example
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/src/app/use-cases/__mocks__/config.ts
  apps/io-func-sign-user/src/app/use-cases/__mocks__/qtsp.ts
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
  apps/io-func-sign-user/src/app/use-cases/validate-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-qtsp-clauses-metadata.ts
  apps/io-func-sign-user/src/infra/azure/functions/info.ts
  apps/io-func-sign-user/src/infra/http/decoder/signature-request.ts
  apps/io-func-sign-user/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-user/src/infra/lollipop/assertion.ts
  apps/io-func-sign-user/src/infra/namirial/client.ts
  apps/io-func-sign-user/src/infra/namirial/config.ts
  apps/io-func-sign-user/src/infra/namirial/health-check.ts
  apps/io-func-sign-user/src/infra/namirial/signature-request.ts
  packages/io-sign/src/__test__/utility.spec.ts
  packages/io-sign/src/utility.ts
Labels: io-func-sign-user, internal, feat
