Repository pagopa/io-sign, pull requests merged in 2023-04, with the labels that each got.

#106 feat (user): [SFEQS-1501] Add "GetSignatureRequests" function
  .changeset/big-geese-lie.md
  apps/io-func-sign-user/.eslintrc.js
  apps/io-func-sign-user/GetSignatureRequests/function.json
  apps/io-func-sign-user/host.json
  apps/io-func-sign-user/local.settings.json.example
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-filled-document.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature-request.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/fill-document.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-qtsp-clauses-metadata.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-signature-requests.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-signer-by-fiscal-code.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-third-party-message-attachments-content.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-third-party-message-details.ts
  apps/io-func-sign-user/src/infra/azure/functions/info.ts
  apps/io-func-sign-user/src/infra/azure/functions/validate-signature.ts
  apps/io-func-sign-user/src/infra/http/decoder/__test__/signer.spec.ts
  apps/io-func-sign-user/src/infra/http/decoder/document-to-sign.ts
  apps/io-func-sign-user/src/infra/http/decoder/fiscal-code.ts
  apps/io-func-sign-user/src/infra/http/decoder/lollipop.ts
  apps/io-func-sign-user/src/infra/http/decoder/qtsp-clause.ts
  apps/io-func-sign-user/src/infra/http/decoder/signature-request.ts
  apps/io-func-sign-user/src/infra/http/decoder/signer.old.ts
  apps/io-func-sign-user/src/infra/http/decoder/signer.ts
  apps/io-func-sign-user/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-user/src/infra/http/handlers/get-signature-requests.ts
  apps/io-func-sign-user/src/signature-request.ts
  yarn.lock
Labels: io-func-sign-user, feat

#115 feat!: [SFEQS-1570] Add department to issuer and INTERNAL pricing plan
  .changeset/fair-spoons-cover.md
  apps/io-func-sign-issuer/host.json
  apps/io-func-sign-issuer/local.settings.json.example
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/infra/self-care/encoder.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-support/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-user/src/__test__/signature-request.spec.ts
  apps/io-func-sign-user/src/__test__/third-party-message.spec.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  packages/io-sign/src/__test__/event.spec.ts
  packages/io-sign/src/event.ts
  packages/io-sign/src/issuer.ts
  packages/io-sign/src/signature-request.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat, breaking-change, io-func-sign-support

#114 feat: [SFEQS-1583] Add log to `createSignature`
  .changeset/chilly-buses-knock.md
  .changeset/kind-pumpkins-explode.md
  .changeset/metal-coats-dream.md
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature.ts
  packages/io-sign/package.json
  packages/io-sign/src/infra/console-logger.ts
  packages/io-sign/src/infra/http/response.ts
  yarn.lock
Labels: io-func-sign-user, internal, feat, io-func-sign-support

#116 chore: [SFEQS-1596] Add env var for log
  apps/io-func-sign-issuer/local.settings.json.example
  apps/io-func-sign-user/local.settings.json.example
Labels: io-func-sign-issuer, io-func-sign-user, chore

#117 chore: [SFEQS-1596] Add console log support to host.json
  .changeset/friendly-rivers-return.md
  apps/io-func-sign-issuer/host.json
  apps/io-func-sign-issuer/local.settings.json.example
  apps/io-func-sign-user/host.json
  apps/io-func-sign-user/local.settings.json.example
Labels: io-func-sign-issuer, io-func-sign-user, chore

#119 feat: [SFEQS-1352] Add analytics events
  .changeset/funny-scissors-marry.md
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/config.ts
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-signed.ts
  apps/io-func-sign-issuer/src/infra/azure/event-hubs/event.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/info.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-signed.ts
  packages/io-sign/package.json
  packages/io-sign/src/event.ts
  packages/io-sign/src/infra/azure/__test__/event-hubs.spec.ts
  packages/io-sign/src/infra/azure/event-hubs/config.ts
  packages/io-sign/src/infra/azure/event-hubs/event.ts
  packages/io-sign/src/infra/azure/event-hubs/health-check.ts
  yarn.lock
Labels: io-func-sign-issuer, internal, feat

#98 ci: [SFEQS-949] Migrazione pipeline di deploy a GitHub actions
  .changeset/config.json
  .github/labeler.yml
  .github/workflows/azure-deploy.yaml
  .github/workflows/release.yaml
  package.json
Labels: ci, changeset

#123 fix(opex): Tuning response time threshold
  .opex/api_issuer/env/prod/config.yaml
Labels: fix

#124 fix: [SFEQS-1593] Add a try-catch to the pdf-lib library
  .changeset/wet-buckets-wash.md
  packages/io-sign/src/infra/pdf.ts
Labels: internal, fix, changeset

#125 fix(opex): Use app-gateway as source also for APIM
  .opex/api_issuer/env/prod/config.yaml
  .opex/api_support/env/prod/config.yaml
Labels: fix

#112 test(issuer): [SFEQS-1554] Add unit test to dossier endpoints
  apps/io-func-sign-issuer/.eslintrc.js
  apps/io-func-sign-issuer/host.json
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/create-dossier.ts
  apps/io-func-sign-issuer/src/dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/create-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-dossier.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-upload-url.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/info.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-rejected.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-signed.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-wait-for-signature.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/send-notification.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/set-signature-request-status.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/document.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/dossier.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/issuer.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/create-dossier.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/get-dossier.ts
  apps/io-func-sign-issuer/src/issuer.ts
  yarn.lock
Labels: io-func-sign-issuer

#132 test: [SFEQS-1617] Move to Vitest
  apps/io-func-sign-issuer/jest.config.js
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/__test__/validate-upload.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-support/jest.config.js
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/jest.config.js
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/__test__/signature-request.spec.ts
  apps/io-func-sign-user/src/__test__/third-party-message.spec.ts
  apps/io-func-sign-user/src/infra/http/decoder/__test__/signer.spec.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-user/src/infra/lollipop/__test__/signature.spec.ts
  docs/architecture/decisions/0002-format-for-signerid.md
  docs/architecture/decisions/0006-use-vitest-as-unit-test-framework.md
  docs/architecture/decisions/README.md
  docs/openapi-backend.yaml
  package.json
  packages/io-sign/jest.config.js
  packages/io-sign/package.json
  packages/io-sign/src/__test__/document.spec.ts
  packages/io-sign/src/__test__/event.spec.ts
  packages/io-sign/src/__test__/utility.spec.ts
  packages/io-sign/src/infra/azure/__test__/event-hubs.spec.ts
  packages/io-sign/src/infra/http/__test__/errors.spec.ts
  packages/io-sign/src/infra/http/__test__/problem-detail.spec.ts
  packages/io-sign/src/infra/http/__test__/response.spec.ts
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, docs, io-func-sign-support

#131 refactor(issuer): [SFEQS-1555] Refactor Validate Upload (+ logs)
  apps/io-func-sign-issuer/io-func-sign-issuer.rest
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/__test__/validate-upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/storage/upload.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/validate-upload.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-issuer/src/upload.ts
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/package.json
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, refactor, io-func-sign-support

#129 feat: [SFEQS-1352] Add analytics event
  .changeset/neat-insects-whisper.md
  .changeset/wet-buckets-wash.md
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-ready.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-rejected.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-signed.ts
  apps/io-func-sign-issuer/src/app/use-cases/send-notification.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-rejected.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-signed.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/send-notification.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/set-signature-request-status.ts
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/app/config.ts
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/app/use-cases/validate-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/validate-signature.ts
  packages/io-sign/src/event.ts
  packages/io-sign/src/infra/azure/event-hubs/event.ts
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat, changeset

#135 test: [SFEQS-1551] Add unit test get signature request
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/get-signature-request.ts
  apps/io-func-sign-issuer/src/signature-request.ts
Labels: io-func-sign-issuer, feat

#134 chore: [SFEQS-1620] Refactor of `createAndSendAnalyticsEvent` to use RTE logger
  packages/io-sign/src/event.ts
  packages/io-sign/src/infra/azure/event-hubs/event.ts
Labels: internal, chore

#136 chore: Upgraded package.json for io-func-sign-user
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-user/package.json
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, chore

#137 fix(ci): Set fetch-depth in roder to include tags
  .github/workflows/release.yaml
Labels: ci, fix
