Repository pagopa/io-sign, pull requests merged in 2023-09, with the labels that each got.

#197 refactor(bo): [SFEQS-1991] Replace API Management REST API with @azure/arm-apimanagement SDK
  apps/io-sign-backoffice-app/package.json
  apps/io-sign-backoffice-app/src/app/health/route.ts
  apps/io-sign-backoffice-app/src/lib/apim.ts
  yarn.lock
Labels: refactor

#198 feat(bo): [SFEQS-1989] Add "Create Issuer" endpoint
  apps/io-sign-backoffice-app/openapi.yml
  apps/io-sign-backoffice-app/src/app/api/api-keys/[api-key]/route.ts
  apps/io-sign-backoffice-app/src/app/api/api-keys/route.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/[institution]/api-keys/[api-key]/route.ts
  apps/io-sign-backoffice-app/src/app/api/issuers/route.ts
  apps/io-sign-backoffice-app/src/lib/__test__/api-keys.spec.ts
  apps/io-sign-backoffice-app/src/lib/__test__/issuers.spec.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/cosmos.ts
  apps/io-sign-backoffice-app/src/lib/api/responses.ts
  apps/io-sign-backoffice-app/src/lib/issuers/cosmos.ts
  apps/io-sign-backoffice-app/src/lib/issuers/index.ts
  apps/io-sign-backoffice-app/src/lib/issuers/use-cases.ts
Labels: feat

#202 fix(bo, issuer): [SFEQS-2004] Get Issuer data from Ocp-Apim-Subscription-Id
  .changeset/forty-ladybugs-obey.md
  apps/io-func-sign-issuer/src/infra/back-office/issuer.ts
  apps/io-func-sign-issuer/src/issuer.ts
  apps/io-sign-backoffice-app/src/app/api/api-keys/[api-key]/route.ts
  apps/io-sign-backoffice-app/src/lib/__test__/api-keys.spec.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/cosmos.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/index.ts
  apps/io-sign-backoffice-app/src/lib/institutions/selfcare.ts
  apps/io-sign-backoffice-app/src/lib/issuers/index.ts
Labels: io-func-sign-issuer, changeset

#204 fix(bo, issuer): read "vat number" instead of "tax code"
  .changeset/angry-lobsters-count.md
  apps/io-func-sign-issuer/src/infra/back-office/issuer.ts
  apps/io-func-sign-issuer/src/issuer.ts
  apps/io-sign-backoffice-app/src/lib/auth/use-cases.ts
  apps/io-sign-backoffice-app/src/lib/institutions/index.ts
Labels: io-func-sign-issuer, fix, changeset

#207 chore: [SFEQS-1380] Node.js 18
  .node-version
  packages/io-sign/package.json
Labels: internal, chore

#209 chore: [SFEQS-1381] Update config with node 18
  .github/workflows/code-review.yaml
  .github/workflows/publish-package.yaml
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/tsconfig.json
  apps/io-func-sign-issuer/tsup.config.js
  apps/io-func-sign-support/package.json
  apps/io-func-sign-support/tsconfig.json
  apps/io-func-sign-support/tsup.config.js
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/tsconfig.json
  apps/io-func-sign-user/tsup.config.js
  apps/io-sign-backoffice-app/package.json
  apps/io-sign-backoffice-app/tsconfig.json
  package.json
  packages/io-sign-issuer-sdk/package.json
  packages/io-sign-issuer-sdk/tsconfig.json
  packages/io-sign/package.json
  packages/io-sign/tsconfig.json
  packages/web-sdk/package.json
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, ci, chore, io-func-sign-support

#213 feat(bo): [SFEQS-2020] Add "revoke" action on API Key
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/api-keys/[api-key]/_components/ApiKeyActionsForm.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/api-keys/[api-key]/_components/ApiKeyRevokeModal.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/api-keys/[api-key]/_components/ApiKeySecretForm.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/api-keys/[api-key]/_components/ApiKeySummary.tsx
  apps/io-sign-backoffice-app/src/app/api/institutions/[institution]/api-keys/[api-key]/route.ts
  apps/io-sign-backoffice-app/src/i18n/messages/it.json
  apps/io-sign-backoffice-app/src/lib/api-keys/apim.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/client.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/cosmos.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/use-cases.ts
  apps/io-sign-backoffice-app/src/lib/apim.ts
Labels: feat

#212 fix(bo): [SFEQS-2009] Improve overview page + other minor frontend fixes
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/_components/IssuerCard/EditEmailDialog.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/_components/IssuerCard/IssuerEmailSection.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/_components/SupportCard.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/api-keys/[api-key]/page.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/api-keys/create/_components/ApiKeyMetadataCard.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/page.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/consent/[institution]/page.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/privacy-policy/page.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/terms-of-service/page.tsx
  apps/io-sign-backoffice-app/src/components/EditableList/EditableListForm.tsx
  apps/io-sign-backoffice-app/src/components/EditableList/EditableListItem.tsx
  apps/io-sign-backoffice-app/src/components/EditableList/hooks.ts
  apps/io-sign-backoffice-app/src/components/EditableList/index.tsx
  apps/io-sign-backoffice-app/src/components/FiscalCodeListInput.tsx
  apps/io-sign-backoffice-app/src/components/Footer.tsx
  apps/io-sign-backoffice-app/src/components/IpAddressListInput.tsx
  apps/io-sign-backoffice-app/src/components/PolicyPage.tsx
  apps/io-sign-backoffice-app/src/components/Sidenav/index.tsx
  apps/io-sign-backoffice-app/src/i18n/messages/it.json
  apps/io-sign-backoffice-app/src/lib/api-keys/index.ts
Labels: fix

#216 fix(user): [SFEQS-1889] change environment header
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/src/infra/azure/functions/get-third-party-message-details.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-user/src/infra/http/handlers/get-signature-request.ts
Labels: io-func-sign-user, fix
