Repository pagopa/io-sign, pull requests merged in 2023-05, with the labels that each got.

#143 chore: [SFEQS-1633] Add `signerId` to billing and analytics events
  .changeset/friendly-maps-provide.md
  packages/io-sign/src/event.ts
Labels: internal, chore, changeset

#144 fix: [SFEQS-1647] Add getRequestsByDossier in OpenAPI
  .changeset/chilled-sheep-float.md
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/infra/http/encoders/signature-request.ts
Labels: io-func-sign-issuer, fix, changeset

#140 test: [SFEQS-1553] Add unit test get signature request in io-func-sign-user
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-filled-document.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-third-party-message-attachments-content.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-third-party-message-details.ts
  apps/io-func-sign-user/src/infra/http/decoders/__test__/signer.spec.ts
  apps/io-func-sign-user/src/infra/http/decoders/document-to-sign.ts
  apps/io-func-sign-user/src/infra/http/decoders/fiscal-code.ts
  apps/io-func-sign-user/src/infra/http/decoders/lollipop.ts
  apps/io-func-sign-user/src/infra/http/decoders/qtsp-clause.ts
  apps/io-func-sign-user/src/infra/http/decoders/signature-request.ts
  apps/io-func-sign-user/src/infra/http/decoders/signer.old.ts
  apps/io-func-sign-user/src/infra/http/decoders/signer.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-requests.spec.ts
  apps/io-func-sign-user/src/infra/http/handlers/get-signature-request.ts
  apps/io-func-sign-user/src/infra/http/handlers/get-signature-requests.ts
  apps/io-func-sign-user/src/signature-request.ts
Labels: io-func-sign-user

#147 chore: Fix typo
  apps/io-func-sign-issuer/openapi.yaml
Labels: io-func-sign-issuer, chore

#148 chore: Add missing properties in local.settings.json.example
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/local.settings.json.example
  apps/io-func-sign-user/package.json
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, chore, io-func-sign-support

#141 feat: [SFEQS-1441] Add support email per dossier
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/dossier.ts
  apps/io-func-sign-issuer/src/infra/http/encoders/dossier.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-signature-request.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/create-dossier.ts
  apps/io-func-sign-issuer/src/signature-request.ts
Labels: io-func-sign-issuer, feat

#150 chore: [SFEQS-1641] Update qr-code url according to io-link
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-user/local.settings.json.example
  apps/io-func-sign-user/src/app/config.ts
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/app/use-cases/create-signature-request.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature-request.ts
  packages/io-sign/src/infra/io-link/config.ts
  packages/io-sign/src/infra/io-link/qr-code.ts
  packages/io-sign/src/signature-request.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, chore

#151 fix(issuer): createAndSendAnalyticsEvent
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/create-signature-request.ts
  packages/io-sign/src/event.ts
  packages/io-sign/src/infra/azure/event-hubs/event.ts
Labels: io-func-sign-issuer, internal, fix

#152 chore: Code refactor and patch document validation on issuer SDK
  packages/io-sign-issuer-sdk/package.json
  packages/io-sign-issuer-sdk/src/signature-request.ts
  yarn.lock
Labels: internal, chore

#153 patch: Fix typo and lint on issuer SDK
  packages/io-sign-issuer-sdk/package.json
  packages/io-sign-issuer-sdk/src/signature-request.ts
Labels: internal

#149 feat: [SFEQS-1643] Add loader dialog
  io-sign.code-workspace
  packages/web-sdk/.env.example
  packages/web-sdk/.gitignore
  packages/web-sdk/index.html
  packages/web-sdk/src/components/Dialog.stories.ts
  packages/web-sdk/src/components/Dialog.ts
  packages/web-sdk/src/components/LoaderDialog.stories.ts
  packages/web-sdk/src/components/LoaderDialog.ts
  packages/web-sdk/src/components/Spinner.stories.ts
  packages/web-sdk/src/components/Spinner.ts
  packages/web-sdk/src/i18n/locales/index.ts
  packages/web-sdk/src/i18n/locales/it.ts
  packages/web-sdk/src/io-sign.ts
  packages/web-sdk/xliff/it.xlf
Labels: internal, feat

#156 fix: [SFEQS-1660] Add `patchDocument` to signature request db model
  .changeset/violet-mangos-jog.md
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-signature-request.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-issuer/src/signature-request.ts
Labels: io-func-sign-issuer, feat, fix, changeset

#157 feat(issuer): [SFEQS-1439] Add ValidateDocument function
  .changeset/old-donkeys-joke.md
  apps/io-func-sign-issuer/.eslintrc.js
  apps/io-func-sign-issuer/ValidateDocument/function.json
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-document.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/__test__/document-validation.spec.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/__test__/sample.pdf
  apps/io-func-sign-issuer/src/infra/http/decoders/document-validation.ts
  apps/io-func-sign-issuer/src/infra/http/encoders/document-validation.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/sample.pdf
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/validate-document.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/validate-document.ts
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/package.json
  packages/io-sign/package.json
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat, changeset, io-func-sign-support

#142 feat: [SFEQS-953] add `io-sign` web sdk
  .changeset/chilled-peas-listen.md
  .changeset/old-donkeys-joke.md
  .github/workflows/code-review.yaml
  io-sign.code-workspace
  packages/web-sdk/.env.example
  packages/web-sdk/.gitignore
  packages/web-sdk/.prettierignore
  packages/web-sdk/.storybook/main.ts
  packages/web-sdk/.storybook/preview.ts
  packages/web-sdk/index.html
  packages/web-sdk/lit-localize.json
  packages/web-sdk/package.json
  packages/web-sdk/public/TitilliumWeb-Bold.ttf
  packages/web-sdk/public/TitilliumWeb-Regular.ttf
  packages/web-sdk/public/demo.html
  packages/web-sdk/public/theme.css
  packages/web-sdk/src/assets/close-icon.svg
  packages/web-sdk/src/assets/io-logo.svg
  packages/web-sdk/src/assets/spinner.svg
  packages/web-sdk/src/components/Button.stories.ts
  packages/web-sdk/src/components/Button.ts
  packages/web-sdk/src/components/Dialog.stories.ts
  packages/web-sdk/src/components/Dialog.ts
  packages/web-sdk/src/components/LoaderDialog.stories.ts
  packages/web-sdk/src/components/LoaderDialog.ts
  packages/web-sdk/src/components/QrCodeDialog.ts
  packages/web-sdk/src/components/Skeleton.stories.ts
  packages/web-sdk/src/components/Skeleton.ts
  packages/web-sdk/src/components/Spinner.stories.ts
  packages/web-sdk/src/components/Spinner.ts
  packages/web-sdk/src/i18n/index.ts
  packages/web-sdk/src/i18n/locales/index.ts
  packages/web-sdk/src/i18n/locales/it.ts
  packages/web-sdk/src/io-sign.stories.ts
  packages/web-sdk/src/io-sign.ts
  packages/web-sdk/src/link-provider.ts
  packages/web-sdk/src/vite-env.d.ts
  packages/web-sdk/tsconfig.json
  packages/web-sdk/tsconfig.node.json
  packages/web-sdk/vite.config.ts
  packages/web-sdk/xliff/it.xlf
  yarn.lock
Labels: internal, ci, feat, changeset

#84 Created the ADR on the choice of the code generator
  docs/architecture/decisions/0006-choice-code-generator-for-client-demo.md
  docs/architecture/decisions/README.md
Labels: docs

#107 feat(support): [SFEQS-1549] Add a basic Info endpoint
  .changeset/tiny-jobs-protect.md
  apps/io-func-sign-support/Info/function.json
  apps/io-func-sign-support/host.json
  apps/io-func-sign-support/local.settings.json.example
  apps/io-func-sign-support/openapi.yaml
  apps/io-func-sign-support/package.json
  apps/io-func-sign-support/src/infra/azure/functions/info.ts
  apps/io-func-sign-support/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-support/src/infra/http/handlers/__test__/info.spec.ts
  apps/io-func-sign-support/src/infra/http/handlers/info.ts
  apps/io-func-sign-support/src/infra/web.ts
  yarn.lock
Labels: feat, changeset, io-func-sign-support

#158 build(web-sdk): [SFEQS-1645] Minify io-sign sdk library code
  packages/web-sdk/package.json
  packages/web-sdk/vite.config.ts
  yarn.lock
Labels: internal, build

#155 feat: [SFEQS-1575] Signature request cancelled by issuer
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/set-signature-request-status.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/handlers/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/set-signature-request-status.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/set-signature-request-status.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-user/UpdateSignatureRequest/function.json
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/infra/azure/cosmos/signature-request.ts
  apps/io-func-sign-user/src/infra/azure/functions/update-signature-request.ts
  apps/io-func-sign-user/src/infra/handlers/update-signature-request.ts
  apps/io-func-sign-user/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-user/src/infra/http/handlers/__test__/get-signature-requests.spec.ts
  apps/io-func-sign-user/src/signature-request.ts
  packages/io-sign/src/event.ts
  packages/io-sign/src/infra/azure/event-hubs/event.ts
  packages/io-sign/src/signature-request.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat

#161 [SFEQS-1655]: Update deploy to Azure
  .github/workflows/azure-deploy.yaml
Labels: ci

#163 fix(web-sdk): [SFEQS-1697] Fix incorrect behaviour on "disabled" state
  .changeset/tame-hornets-bow.md
  packages/web-sdk/index.html
  packages/web-sdk/src/components/Button.ts
  packages/web-sdk/src/io-sign.ts
Labels: internal, fix, changeset

#165 fix (issuer): [SFEQS-1708] Fix document validation on PDF with text fields
  .changeset/eight-terms-visit.md
  packages/io-sign/src/infra/pdf.ts
Labels: internal, fix, changeset
