Repository pagopa/io-sign, pull requests merged in 2023-01, with the labels that each got.

#61 chore: [SFEQS-1277] Add support for REJECTED status for signature request.
  .changeset/popular-papayas-buy.md
  apps/io-func-sign-user/package.json
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
  apps/io-func-sign-user/src/infra/namirial/client.ts
  apps/io-func-sign-user/src/signature-request.ts
  packages/io-sign/src/signature-request.ts
Labels: io-func-sign-user, internal, chore

#63 feat: [SFEQS-1273] Adds the health check on the infrastructure through the info endpoint
  .changeset/four-parrots-call.md
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/health-check.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/info.ts
  apps/io-func-sign-issuer/src/infra/azure/storage/health-check.ts
  apps/io-func-sign-user/src/__test__/signature-request.spec.ts
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/app/use-cases/__mocks__/qtsp.ts
  apps/io-func-sign-user/src/infra/azure/cosmos/health-check.ts
  apps/io-func-sign-user/src/infra/azure/functions/__test__/info.spec.ts
  apps/io-func-sign-user/src/infra/azure/functions/fill-document.ts
  apps/io-func-sign-user/src/infra/azure/functions/info.ts
  apps/io-func-sign-user/src/infra/azure/storage/health-check.ts
  apps/io-func-sign-user/src/infra/namirial/client.ts
  apps/io-func-sign-user/src/infra/namirial/health-check.ts
  apps/io-func-sign-user/src/infra/namirial/signature-request.ts
  packages/io-sign/src/infra/http/fetch-timeout.ts
  packages/io-sign/src/infra/io-services/client.ts
  packages/io-sign/src/infra/io-services/health-check.ts
  packages/io-sign/src/infra/io-services/message.ts
  packages/io-sign/src/infra/io-services/profile.ts
  packages/io-sign/src/infra/pdv-tokenizer/client.ts
  packages/io-sign/src/infra/pdv-tokenizer/health-check.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat

#64 fix: [SFEQS-1182, SFEQS-1244, SFEQS-1221] Fix rest API responses
  .changeset/lovely-days-admire.md
  apps/io-func-sign-issuer/openapi.yaml
  apps/io-func-sign-issuer/src/infra/http/encoders/signature-request.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  packages/io-sign/src/infra/http/__test__/errors.spec.ts
  packages/io-sign/src/infra/http/errors.ts
Labels: io-func-sign-issuer, internal, fix

#65 feat: [SFEQS-1259] Extend Signature Request to include Issuer e-mail and description
  .changeset/rare-cows-fail.md
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/create-signature-request.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-user/openapi.yaml
  apps/io-func-sign-user/src/__test__/signature-request.spec.ts
  apps/io-func-sign-user/src/infra/http/encoders/signature-request.ts
  packages/io-sign/src/issuer.ts
  packages/io-sign/src/signature-request.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat

#66 feat!: [SFEQS-1266, SFEQS-1216] Add signatureFields validation with document metadata
  .changeset/lazy-meals-dance.md
  apps/io-func-sign-issuer/jest.config.js
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/__test__/validate-upload.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/validate-upload.ts
  apps/io-func-sign-issuer/src/infra/http/decoders/document.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-issuer/src/upload.ts
  apps/io-func-sign-user/jest.config.js
  apps/io-func-sign-user/src/infra/http/encoders/document.ts
  packages/io-sign/jest.config.js
  packages/io-sign/src/__test__/document.spec.ts
  packages/io-sign/src/document.ts
  packages/io-sign/src/infra/pdf.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat, breaking-change

#68 [SFEQS-1222] Keep Signature Request statuses consistent across the system
  .changeset/wet-boats-wash.md
  apps/io-func-sign-issuer/MarkAsRejected/function.json
  apps/io-func-sign-issuer/MarkAsSigned/function.json
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-rejected.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-signed.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-rejected.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-signed.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-user/src/app/main.ts
  apps/io-func-sign-user/src/app/use-cases/validate-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature-request.ts
  apps/io-func-sign-user/src/infra/azure/functions/validate-signature.ts
  apps/io-func-sign-user/src/infra/azure/storage/signature-request.ts
  apps/io-func-sign-user/src/signature-request.ts
Labels: io-func-sign-issuer, io-func-sign-user

#69 chore!: [SFEQS-1333] Add the ability to mark an issuer as a no-billable test account
  .changeset/tame-pandas-applaud.md
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  packages/io-sign/src/issuer.ts
Labels: io-func-sign-issuer, internal, chore, breaking-change

#70 feat: [SFEQS-1303] Send billing events to data-lake via event-hubs
  .changeset/tricky-paws-clean.md
  apps/io-func-sign-issuer/local.settings.json.example
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-issuer/src/app/config.ts
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-signed.ts
  apps/io-func-sign-issuer/src/infra/azure/cosmos/issuer.ts
  apps/io-func-sign-issuer/src/infra/azure/event-hubs/config.ts
  apps/io-func-sign-issuer/src/infra/azure/event-hubs/event.ts
  apps/io-func-sign-issuer/src/infra/azure/event-hubs/health-check.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/info.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-signed.ts
  apps/io-func-sign-issuer/src/issuer.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-user/src/__test__/signature-request.spec.ts
  packages/io-sign/src/__test__/event.spec.ts
  packages/io-sign/src/event.ts
  packages/io-sign/src/signature-request.ts
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, feat

#71 fix(issuer): [SFEQS-1348] Pre-authenticate urls on SIGNED requests
  .changeset/silly-drinks-turn.md
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signature-request.ts
  apps/io-func-sign-user/src/app/use-cases/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/create-signature.ts
  apps/io-func-sign-user/src/infra/azure/functions/get-signature-request.ts
  packages/io-sign/src/document-url.ts
  packages/io-sign/src/infra/azure/storage/document-url.ts
Labels: io-func-sign-issuer, io-func-sign-user, internal, fix
