Repository pagopa/io-sign, pull requests merged in 2023-10, with the labels that each got.

#219 ci: [SFEQS-1827] Updated code-review workflow
  .github/workflows/code-review.yaml
Labels: ci

#220 Update openapi
  apps/io-func-sign-issuer/openapi.yaml
Labels: io-func-sign-issuer

#223 chore: [SFEQS-2024] Add state property to issuer
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/infra/back-office/issuer.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-signature-request.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/set-signature-request-status.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/validate-document.spec.ts
  apps/io-func-sign-issuer/src/infra/self-care/encoder.ts
  apps/io-func-sign-issuer/src/issuer.ts
  apps/io-sign-backoffice-app/src/lib/__test__/issuers.spec.ts
  apps/io-sign-backoffice-app/src/lib/issuers/index.ts
  apps/io-sign-backoffice-app/src/lib/issuers/use-cases.ts
  packages/io-sign/src/__test__/event.spec.ts
  packages/io-sign/src/infra/azure/__test__/event-hubs.spec.ts
  packages/io-sign/src/issuer.ts
Labels: io-func-sign-issuer, internal, chore

#224 chore: Add local.settings.json.example file in io-sign-backoffice-func
  apps/io-sign-backoffice-func/local.settings.json.example
Labels: chore

#226 feat(bo): Add health check function
  apps/io-sign-backoffice-func/src/functions/health.ts
  apps/io-sign-backoffice-func/src/functions/on-selfcare-contracts-message.ts
  apps/io-sign-backoffice-func/src/main.ts
Labels: feat

#227 ci: [SFEQS-2028] Add deploy-* workflows
  .actrc
  .dockerignore
  .github/workflows/azure-deploy.yaml
  .github/workflows/code-review.yaml
  .github/workflows/deploy-backoffice-app.yaml
  .github/workflows/deploy-backoffice-func.yaml
  .github/workflows/release.yaml
  .identity/.terraform.lock.hcl
  .identity/01_data.tf
  .identity/02_application_environment_cd.tf
  .identity/02_application_environment_opex.tf
  .identity/02_application_environment_runner.tf
  .identity/03_github_environment_cd.tf
  .identity/03_github_environment_runner.tf
  .identity/99_main.tf
  .identity/99_variables.tf
  .identity/github_environment_opex.tf
  .identity/github_environment_web_apps.tf
  .identity/identity_opex.tf
  .identity/identity_runner.tf
  .identity/resource_groups.tf
  .yarn/releases/yarn-3.3.0.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarnrc.yml
  apps/io-sign-backoffice-app/Dockerfile
  apps/io-sign-backoffice-app/src/components/EditableList/index.tsx
  apps/io-sign-backoffice-app/turbo.json
  apps/io-sign-backoffice-func/host.json
  package.json
  yarn.lock
Labels: ci

#228 chore(bo): [SFEQS-2014] Update Next.js to 13.5.5
  .changeset/beige-singers-whisper.md
  apps/io-sign-backoffice-app/next.config.js
  apps/io-sign-backoffice-app/package.json
  yarn.lock
Labels: chore, changeset

#231 chore(bo): disable image optimization
  apps/io-sign-backoffice-app/next.config.js
  apps/io-sign-backoffice-app/package.json
  package.json
  yarn.lock
Labels: chore

#230 chore(bo): [SFEQS-2008] Send slack notification
  .changeset/fifty-ravens-bake.md
  apps/io-sign-backoffice-app/.env
  apps/io-sign-backoffice-app/.env.development
  apps/io-sign-backoffice-app/src/lib/__test__/api-keys.spec.ts
  apps/io-sign-backoffice-app/src/lib/__test__/issuers.spec.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/use-cases.ts
  apps/io-sign-backoffice-app/src/lib/auth/use-cases.ts
  apps/io-sign-backoffice-app/src/lib/issuers/index.ts
  apps/io-sign-backoffice-app/src/lib/issuers/use-cases.ts
  apps/io-sign-backoffice-app/src/lib/slack.ts
Labels: chore, changeset

#233 ci: [SFEQS-1823] Add deploy pipelines
  .github/workflows/deploy-issuer-func.yaml
  .github/workflows/deploy-support-func.yaml
  .github/workflows/deploy-user-func.yaml
Labels: ci

#234 fix(bo): [SFEQS-2048] fix getCosmosClient
  apps/io-sign-backoffice-app/src/lib/cosmos.ts
Labels: fix

#235 fix(bo): [SFEQS-2050] Update Zod to its latest version
  .changeset/nice-islands-impress.md
  apps/io-sign-backoffice-app/package.json
  yarn.lock
Labels: fix, changeset
