Repository pagopa/io-sign, pull requests merged in 2023-08, with the labels that each got.

#186 build(backoffice): [SFEQS-1913] Use Azure App Service instead of Azure Container App
  .gitignore
  apps/io-sign-backoffice-app/.env
  apps/io-sign-backoffice-app/.env.development
  apps/io-sign-backoffice-app/.eslintrc.json
  apps/io-sign-backoffice-app/.gitignore
  apps/io-sign-backoffice-app/Dockerfile
  apps/io-sign-backoffice-app/README.md
  apps/io-sign-backoffice-app/entrypoint.sh
  apps/io-sign-backoffice-app/next.config.js
  apps/io-sign-backoffice-app/package.json
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/layout.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/[institution]/page.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/_components/Footer.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/_components/HeaderWithAccountInfo.tsx
  apps/io-sign-backoffice-app/src/app/[locale]/layout.tsx
  apps/io-sign-backoffice-app/src/app/api/api-keys/_lib/__test__/api-key.spec.ts
  apps/io-sign-backoffice-app/src/app/api/api-keys/_lib/api-key.ts
  apps/io-sign-backoffice-app/src/app/api/api-keys/_lib/apim.ts
  apps/io-sign-backoffice-app/src/app/api/api-keys/route.ts
  apps/io-sign-backoffice-app/src/app/auth/[id]/route.ts
  apps/io-sign-backoffice-app/src/app/auth/_lib/__test__/self-care.spec.ts
  apps/io-sign-backoffice-app/src/app/auth/_lib/__test__/session.spec.ts
  apps/io-sign-backoffice-app/src/app/auth/_lib/__test__/user.spec.ts
  apps/io-sign-backoffice-app/src/app/auth/_lib/self-care.ts
  apps/io-sign-backoffice-app/src/app/auth/_lib/session.ts
  apps/io-sign-backoffice-app/src/app/auth/_lib/user.ts
  apps/io-sign-backoffice-app/src/app/auth/logout/route.ts
  apps/io-sign-backoffice-app/src/app/favicon.ico
  apps/io-sign-backoffice-app/src/components/mui/ThemeRegistry.tsx
  apps/io-sign-backoffice-app/src/components/mui/index.ts
  apps/io-sign-backoffice-app/src/config.ts
  apps/io-sign-backoffice-app/src/i18n.tsx
  apps/io-sign-backoffice-app/src/lib/cosmos.ts
  apps/io-sign-backoffice-app/src/messages/it.json
  apps/io-sign-backoffice-app/src/middleware.ts
  apps/io-sign-backoffice-app/sshd_config
  apps/io-sign-backoffice-app/tsconfig.json
  apps/io-sign-backoffice-app/vitest.config.js
  apps/io-sign-backoffice-ca/Dockerfile
  apps/io-sign-selfcare-frontend/.eslintrc.js
  apps/io-sign-selfcare-frontend/.gitignore
  apps/io-sign-selfcare-frontend/CHANGELOG.md
  apps/io-sign-selfcare-frontend/next-i18next.config.js
  apps/io-sign-selfcare-frontend/next.config.js
  apps/io-sign-selfcare-frontend/package.json
  apps/io-sign-selfcare-frontend/public/favicon.svg
  apps/io-sign-selfcare-frontend/public/locales/it/common.json
  apps/io-sign-selfcare-frontend/src/components/CommonHeader/CommonHeader.tsx
  apps/io-sign-selfcare-frontend/src/components/Footer/Footer.tsx
  apps/io-sign-selfcare-frontend/src/components/Footer/FooterConfig.tsx
  apps/io-sign-selfcare-frontend/src/config.ts
  apps/io-sign-selfcare-frontend/src/pages/[locale]/index.tsx
  apps/io-sign-selfcare-frontend/src/pages/_app.tsx
  apps/io-sign-selfcare-frontend/src/pages/_document.tsx
  apps/io-sign-selfcare-frontend/src/pages/index.tsx
  apps/io-sign-selfcare-frontend/src/static.ts
  apps/io-sign-selfcare-frontend/tsconfig.json
  yarn.lock
Labels: build, io-sign-selfcare-frontend

#187 feat(backoffice): [SFEQS-1914] Add health check
  apps/io-sign-backoffice-app/src/app/api/api-keys/_lib/__test__/api-key.spec.ts
  apps/io-sign-backoffice-app/src/app/api/api-keys/_lib/api-key.ts
  apps/io-sign-backoffice-app/src/app/health/_lib/__test__/healthcheck.spec.ts
  apps/io-sign-backoffice-app/src/app/health/_lib/healthcheck.ts
  apps/io-sign-backoffice-app/src/app/health/route.ts
  apps/io-sign-backoffice-app/src/lib/apim.ts
  apps/io-sign-backoffice-app/src/lib/cosmos.ts
  apps/io-sign-backoffice-app/src/middleware.ts
Labels: feat

#189 feat(backoffice): [SFEQS-1764] Added ip addresses and fiscal codes functions
  apps/io-sign-backoffice-app/src/app/api/api-keys/_lib/__test__/api-key.spec.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/[institutionId]/api-keys/[apiKeyId]/route.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/__test__/api-key.spec.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/__test__/fiscal-code.spec.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/__test__/ip-address.spec.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/api-key.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/fiscal-code.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/ip-address.ts
Labels: feat

#190 chore(backoffice): Removed environment filter in api keys list
  apps/io-sign-backoffice-app/src/app/api/api-keys/_lib/api-key.ts
Labels: chore

#192 refactor(bo): simplify API endpoints, move bl to central lib folder
  apps/io-sign-backoffice-app/src/app/api/api-keys/_lib/api-key.ts
  apps/io-sign-backoffice-app/src/app/api/api-keys/route.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/[institutionId]/api-keys/[apiKeyId]/route.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/[institution]/api-keys/[api-key]/route.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/__test__/api-key.spec.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/__test__/fiscal-code.spec.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/__test__/ip-address.spec.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/api-key.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/fiscal-code.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/_lib/ip-address.ts
  apps/io-sign-backoffice-app/src/lib/__test__/api-keys.spec.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/apim.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/client.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/cosmos.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/index.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/use-cases.ts
  apps/io-sign-backoffice-app/vitest.config.js
Labels: refactor
