Repository pagopa/io-sign, pull requests merged in 2023-12, with the labels that each got.

#239 chore(io-services): [SFEQS-2077] Switch to ADVANCED messages
  .changeset/modern-penguins-speak.md
  packages/io-sign/src/infra/io-services/message.ts
Labels: internal, chore, changeset

#242 [EC-44] Refactor GitHub federated managed identities
  .github/workflows/opex_api_issuer.yaml
  .github/workflows/opex_api_issuer_review.yaml
  .github/workflows/opex_api_support.yaml
  .github/workflows/opex_api_support_review.yaml
  .github/workflows/opex_api_user.yaml
  .github/workflows/opex_api_user_review.yaml
  .identity/.terraform-version
  .identity/.terraform.lock.hcl
  .identity/01_data.tf
  .identity/99_locals.tf
  .identity/99_main.tf
  .identity/99_outputs.tf
  .identity/99_variables.tf
  .identity/env/prod/terraform.tfvars
  .identity/github_environment_opex.tf
  .identity/github_environment_web_apps.tf
  .identity/github_repo_secrets.tf
  .identity/identity_opex.tf
  .identity/identity_runner.tf
  .identity/identity_web_apps.tf
  .identity/resource_groups.tf
Labels: ci

#243 fix: Add quotes to GH Action input parameter
  .github/workflows/opex_api_issuer.yaml
Labels: ci, fix
