Repository pagopa/io-sign, pull requests merged in 2024-02, with the labels that each got.

#251 Update prettier and turbo
  apps/io-func-sign-issuer/package.json
  apps/io-func-sign-support/package.json
  apps/io-func-sign-user/UpdateSignatureRequest/function.json
  apps/io-func-sign-user/ValidateQtspSignature/function.json
  apps/io-func-sign-user/package.json
  apps/io-sign-backoffice-func/.vscode/launch.json
  apps/io-sign-backoffice-func/.vscode/settings.json
  apps/io-sign-backoffice-func/.vscode/tasks.json
  apps/io-sign-backoffice-func/package.json
  package.json
  packages/io-sign/package.json
  packages/web-sdk/package.json
  packages/web-sdk/src/components/Dialog.ts
  packages/web-sdk/src/components/QrCodeDialog.ts
  packages/web-sdk/src/i18n/locales/index.ts
  packages/web-sdk/src/i18n/locales/it.ts
  packages/web-sdk/src/io-sign.ts
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, io-func-sign-support

#237 chore(bo): [SFEQS-2025] Migrate issuer onboarding slack message
  .changeset/early-trees-grin.md
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/infra/back-office/issuer.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/create-signature-request.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-requests-by-dossier.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/set-signature-request-status.spec.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/__test__/validate-document.spec.ts
  apps/io-func-sign-issuer/src/infra/self-care/encoder.ts
  apps/io-func-sign-issuer/src/issuer.ts
  apps/io-sign-backoffice-app/package.json
  apps/io-sign-backoffice-app/src/app/api/api-keys/[api-key]/route.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/[institution]/api-keys/[api-key]/route.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/[institution]/issuers/[issuer]/route.ts
  apps/io-sign-backoffice-app/src/lib/__test__/issuers.spec.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/index.ts
  apps/io-sign-backoffice-app/src/lib/apim.ts
  apps/io-sign-backoffice-app/src/lib/auth/index.ts
  apps/io-sign-backoffice-app/src/lib/auth/selfcare.ts
  apps/io-sign-backoffice-app/src/lib/auth/session.ts
  apps/io-sign-backoffice-app/src/lib/cosmos.ts
  apps/io-sign-backoffice-app/src/lib/institutions/index.ts
  apps/io-sign-backoffice-app/src/lib/institutions/selfcare.ts
  apps/io-sign-backoffice-app/src/lib/issuers/index.ts
  apps/io-sign-backoffice-app/src/lib/issuers/use-cases.ts
  apps/io-sign-backoffice-func/local.settings.json.example
  apps/io-sign-backoffice-func/package.json
  apps/io-sign-backoffice-func/src/app/config.ts
  apps/io-sign-backoffice-func/src/app/main.ts
  apps/io-sign-backoffice-func/src/functions/health.ts
  apps/io-sign-backoffice-func/src/functions/on-selfcare-contracts-message.ts
  apps/io-sign-backoffice-func/src/infra/back-office/config.ts
  apps/io-sign-backoffice-func/src/infra/back-office/issuer.ts
  apps/io-sign-backoffice-func/src/infra/back-office/use-cases.ts
  apps/io-sign-backoffice-func/src/infra/handlers/__test__/on-selfcare-contracts-message.spec.ts
  apps/io-sign-backoffice-func/src/infra/handlers/health.ts
  apps/io-sign-backoffice-func/src/infra/handlers/on-selfcare-contracts-message.ts
  apps/io-sign-backoffice-func/src/infra/handlers/validation.ts
  apps/io-sign-backoffice-func/src/infra/http/fetch.ts
  apps/io-sign-backoffice-func/src/infra/selfcare/config.ts
  apps/io-sign-backoffice-func/src/infra/selfcare/contract.ts
  apps/io-sign-backoffice-func/src/infra/slack/config.ts
  apps/io-sign-backoffice-func/src/infra/slack/issuer-message.ts
  apps/io-sign-backoffice-func/src/infra/slack/message.ts
  apps/io-sign-backoffice-func/src/main.ts
  apps/io-sign-backoffice-func/tsconfig.json
  apps/io-sign-backoffice-func/tsup.config.js
  apps/io-sign-backoffice-func/vitest.config.js
  packages/io-sign/package.json
  packages/io-sign/src/__test__/event.spec.ts
  packages/io-sign/src/infra/azure/__test__/event-hubs.spec.ts
  packages/io-sign/src/issuer.ts
  yarn.lock
Labels: io-func-sign-issuer, internal, chore, changeset

#254 [SFEQS-2066, SFEQS-2107] Update Yarn, pipeline fix and improvements
  .github/workflows/code-review.yaml
  .github/workflows/deploy-backoffice-app.yaml
  .github/workflows/deploy-backoffice-func.yaml
  .github/workflows/deploy-issuer-func.yaml
  .github/workflows/deploy-support-func.yaml
  .github/workflows/deploy-user-func.yaml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.3.cjs
  .yarn/releases/yarn-4.1.0.cjs
  .yarnrc.yml
  apps/io-sign-backoffice-app/package.json
  package.json
  yarn.lock
Labels: ci

#257 [SFEQS-2056] Save institution users to spreadsheet file
  .changeset/silly-bobcats-remain.md
  apps/io-sign-backoffice-app/package.json
  apps/io-sign-backoffice-app/src/app/api/api-keys/[api-key]/route.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/[institution]/users/route.ts
  apps/io-sign-backoffice-app/src/components/Header/index.tsx
  apps/io-sign-backoffice-app/src/lib/__test__/api-keys.spec.ts
  apps/io-sign-backoffice-app/src/lib/institutions/index.ts
  apps/io-sign-backoffice-app/src/lib/institutions/selfcare.ts
  apps/io-sign-backoffice-app/src/lib/institutions/use-cases.ts
  apps/io-sign-backoffice-func/local.settings.json.example
  apps/io-sign-backoffice-func/package.json
  apps/io-sign-backoffice-func/src/app/config.ts
  apps/io-sign-backoffice-func/src/app/main.ts
  apps/io-sign-backoffice-func/src/index.ts
  apps/io-sign-backoffice-func/src/infra/back-office/client.ts
  apps/io-sign-backoffice-func/src/infra/back-office/issuer.ts
  apps/io-sign-backoffice-func/src/infra/back-office/use-cases.ts
  apps/io-sign-backoffice-func/src/infra/google/config.ts
  apps/io-sign-backoffice-func/src/infra/google/sheets.ts
  apps/io-sign-backoffice-func/src/infra/handlers/__test__/on-selfcare-contracts-message.spec.ts
  apps/io-sign-backoffice-func/src/infra/handlers/on-selfcare-contracts-message.ts
  apps/io-sign-backoffice-func/src/infra/slack/issuer-message.ts
  apps/io-sign-backoffice-func/src/infra/slack/message.ts
  yarn.lock
Labels: changeset

#260 Remove public endpoint from backoffice-app
  .changeset/friendly-rabbits-care.md
  apps/io-sign-backoffice-app/src/app/api/api-keys/[api-key]/route.ts
  apps/io-sign-backoffice-app/src/app/api/institutions/[institution]/users/route.ts
  apps/io-sign-backoffice-app/src/lib/api-keys/index.ts
  apps/io-sign-backoffice-app/src/lib/institutions/index.ts
  apps/io-sign-backoffice-app/src/lib/institutions/selfcare.ts
  apps/io-sign-backoffice-app/src/lib/institutions/use-cases.ts
  apps/io-sign-backoffice-app/src/lib/issuers/use-cases.ts
  apps/io-sign-backoffice-func/host.json
  apps/io-sign-backoffice-func/local.settings.json.example
  apps/io-sign-backoffice-func/openapi.yaml
  apps/io-sign-backoffice-func/package.json
  apps/io-sign-backoffice-func/src/api-key.ts
  apps/io-sign-backoffice-func/src/app/config.ts
  apps/io-sign-backoffice-func/src/app/main.ts
  apps/io-sign-backoffice-func/src/index.ts
  apps/io-sign-backoffice-func/src/infra/azure/cosmos.ts
  apps/io-sign-backoffice-func/src/infra/back-office/client.ts
  apps/io-sign-backoffice-func/src/infra/back-office/config.ts
  apps/io-sign-backoffice-func/src/infra/back-office/use-cases.ts
  apps/io-sign-backoffice-func/src/infra/google/sheets.ts
  apps/io-sign-backoffice-func/src/infra/handlers/__test__/create-api-key-by-id.spec.ts
  apps/io-sign-backoffice-func/src/infra/handlers/__test__/get-api-key.spec.ts
  apps/io-sign-backoffice-func/src/infra/handlers/__test__/on-selfcare-contracts-message.spec.ts
  apps/io-sign-backoffice-func/src/infra/handlers/create-api-key-by-id.ts
  apps/io-sign-backoffice-func/src/infra/handlers/get-api-key.ts
  apps/io-sign-backoffice-func/src/infra/handlers/on-selfcare-contracts-message.ts
  apps/io-sign-backoffice-func/src/infra/selfcare/api-client.ts
  apps/io-sign-backoffice-func/src/infra/slack/message.ts
  apps/io-sign-backoffice-func/src/institution.ts
  apps/io-sign-backoffice-func/src/issuer.ts
  apps/io-sign-backoffice-func/src/user.ts
  package.json
  packages/io-sign/src/api-key.ts
  packages/io-sign/src/infra/http/utils.ts
  packages/io-sign/src/institution.ts
  yarn.lock
Labels: internal, changeset

#256 [SFEQS-1861] Track REJECTED requests on appinsights
  .changeset/sweet-carrots-shave.md
  apps/io-func-sign-issuer/MarkAsRejected/function.json
  apps/io-func-sign-issuer/MarkAsSigned/function.json
  apps/io-func-sign-issuer/src/__test__/signature-request-notification.spec.ts
  apps/io-func-sign-issuer/src/__test__/signature-request.spec.ts
  apps/io-func-sign-issuer/src/__test__/upload.spec.ts
  apps/io-func-sign-issuer/src/app/config.ts
  apps/io-func-sign-issuer/src/app/main.ts
  apps/io-func-sign-issuer/src/app/use-cases/__test__/close-signature-request.spec.ts
  apps/io-func-sign-issuer/src/app/use-cases/close-signature-request.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-rejected.ts
  apps/io-func-sign-issuer/src/app/use-cases/mark-request-signed.ts
  apps/io-func-sign-issuer/src/infra/__mocks__/signer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/close-signature-request.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/get-signer.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-rejected.ts
  apps/io-func-sign-issuer/src/infra/azure/functions/mark-as-signed.ts
  apps/io-func-sign-issuer/src/infra/handlers/close-signature-request.ts
  apps/io-func-sign-issuer/src/infra/http/handlers/create-signature-request.ts
  apps/io-func-sign-issuer/src/signature-request-notification.ts
  apps/io-func-sign-issuer/src/signature-request.ts
  apps/io-func-sign-support/src/infra/http/handlers/__test__/get-signature-request.spec.ts
  apps/io-func-sign-user/host.json
  apps/io-func-sign-user/src/infra/azure/functions/get-signer-by-fiscal-code.ts
  apps/io-sign-backoffice-func/host.json
  packages/io-sign/package.json
  packages/io-sign/src/event.ts
  packages/io-sign/src/infra/azure/appinsights/config.ts
  packages/io-sign/src/infra/azure/appinsights/index.ts
  packages/io-sign/src/infra/io-services/message.ts
  packages/io-sign/src/infra/pdv-tokenizer/signer.ts
  packages/io-sign/src/notification.ts
  packages/io-sign/src/signer.ts
  packages/io-sign/src/telemetry.ts
  yarn.lock
Labels: io-func-sign-issuer, io-func-sign-user, internal, changeset, io-func-sign-support
